/* Universal selector to set everything to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: poppins;
}

/* Body */
.body {
    background: radial-gradient(circle, #52b2cf, #d4afb9);
}

/* Buttons designing */

/* Mode button */
.mode1 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: 4px solid black;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    cursor: pointer;
}

.mode1 img {
    width: 25px;
}

.mode1:active {
    background-color: #000;
}

.mode1:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

.mode2 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: 4px solid black;
    border-radius: 2rem;
    background-color: #000;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    cursor: pointer;
}

.mode2 img {
    width: 25px;
}

.mode2:active {
    background-color: #fff;
}

.mode2:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

.toggle {
    display: none;
}

/* Options */

.option-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    /* border: 2px solid black; */
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

/* Game Button */
.game {
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0);
}

.game img {
    width: 150px;
    border: 2px solid black;
    box-shadow: 0 0 1rem rgb(0,0,0);
}

.game:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        transition: transform 0.5s ease-in-out;
    }
    50% {
        transform: translateY(-10px);
        transition: transform 0.5s ease-in-out;    
    }
    100% {
        transform: translateY(0px);
        transition: transform 0.5s ease-in-out;
    }
}

.tic-tac-toe {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0;
}
.rock-paper-scissors {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
}
.hangman {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
}
.guess-the-number {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
}
.word-scramble {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
}
.memory-matching {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/* Heading */
h1 {
    color: #ffffff;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    font-size: 4rem;
    /* border: 2px solid black; */
    text-shadow: 0 0 1rem rgb(0,0,0);
}

.info {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    /* text-decoration: underline; */
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Classes applied through JavaScript */
.body-dark-mode {
    background: radial-gradient(circle, #000, #707070);
}