/* Options */
.options {
    /* border: 2px solid black; */
    height: 70vh;
    width: 40%;
}

/* Game Button */
.game img {
    width: 100px;
}

/* Heading */
h1 {
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    /* border: 2px solid black; */
}

.info {
    font-size: 1.5rem;
}