/* Toggle Mode */

label {
  /* border: 2px solid black; */
  top: 90%;
  right: 10%;
}

.heading {
    font-size: 4rem;
}

/* Main Game */

.main-game {
  /* border: 2px solid black; */
  height: 60%;
  width: 70%;
  left: 15%;
}