/* Toggle Mode */

label {
  /* border: 2px solid black; */
  top: 90%;
  right: 10%;
}

.heading {
  margin-top: 20px;
  font-size: 2rem;
}

/* Main Game */

.main-game {
  /* border: 2px solid black; */
  padding: 20px;
  height: 50%;
  width: 90%;
  left: 5%;
  gap: 1rem;
}

.submit-btn {
  font-size: 10px;
}

.new-btn {
  font-size: 10px;
}

.result,
.scrambled-word {
  font-size: 15px;
}

.back-btn {
  font-size: 10px;
}
