/* Main Game */

.choices {
  /* border: 2px solid black; */
  gap: 5rem;
}

.choice {
  height: 140px;
  width: 140px;
  /* border: 2px solid black; */
}

img {
  height: 120px;
  width: 120px;
}

/* Score Board */

.score-board {
  gap: 50rem;
}