label {
  /* border: 2px solid black; */
  top: 90%;
}

.heading {
  font-size: 4rem;
}

/* Main Game */

.choices {
  /* border: 2px solid black; */
  gap: 5rem;
}

.choice {
  height: 140px;
  width: 140px;
  /* border: 2px solid black; */
}

img {
  height: 120px;
  width: 120px;
}

/* Score Board */

.score-board {
  gap: 40rem;
}

.msg-container {
  /* border: 2px solid black; */
  position: fixed;
  width: 100%;
  top: 80%;
  font-size: 1.5rem;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
