/* Universal selector to set everything to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Body */
body {
    background-color: #afd5aa;
}

/* Buttons designing */

/* Mode button */
.mode1 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    background-color: #5c5346;
    display: flex;
    cursor: pointer;
}

.mode1 img {
    width: 25px;
    height: 25px;
}

.mode1:active {
    background-color: #181f1c;
}

.mode1:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.mode2 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    background-color: #91a6ff;
    cursor: pointer;
}

.mode2 img {
    width: 25px;
    height: 25px;
}

.mode2:active {
    background-color: #181f1c;
}

.mode2:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.toggle {
    display: none;
}

/* Back button */
.back {
    background-color: #5c5346;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 2rem;
    position: relative;
    top: 6rem;
    right: 35rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

.back:active {
    background-color: #7d7c84;
}

.back:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Heading */
h1 {
    /* background-color: #5c5346; */
    color: #ffffff;
    height: 4rem;
    line-height: 4rem;
    width: 100vw;
    margin-top: 4rem;
    /* border: 2px solid black; */
    font-size: 4rem;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
}

/* Main game */
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* border: 2px solid black; */
    width: 100vw;
    position: relative;
    top: 6rem;
}

.choice {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

.choice:hover {
    cursor: pointer;
    background-color: #26547c;
}

.layout {
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.symbol {
    font-size: 1rem;
    font-weight: 600;
}

#rock-symbol {
    color: rgb(219, 117, 134);
}

#paper-symbol {
    color: rgb(187, 83, 187);
}

#scissors-symbol {
    color: rgb(96, 107, 225);
}

img {
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 50%;
}

/* Score board */
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap: 5rem;
    position: relative;
    top: 4rem;
    width: 100vw;
    /* border: 2px solid black; */
    color: #8c6057;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#user-score, #comp-score {
    font-size: 3rem;
}

/* Message container */
.msg-container {
    /* margin-top: 5rem; */
    /* border: 2px solid black; */
    position: relative;
    top: 6rem;
    width: 100vw;
    z-index: -1;
}

.msg {
    background-color: #5c5346;
    color: #ffffff;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 600;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-shadow: 0 0 1rem rgb(0, 0, 0);
}

/* Classes applied using JavaScript */

/* Dark mode body */
.body-dark {
    background-color: #000000;
}

/* Dark mode background */
.darkBg {
    background-color: #91a6ff;
}

/* Dark mode score board */
.darkScore {
    color: #faff7f;
}