label {
  /* border: 2px solid black; */
  top: 90%;
  right: 10%;
}

.heading {
  font-size: 3rem;
}

/* Main Game */

.choices {
  /* border: 2px solid black; */
  gap: 3rem;
}

.choice {
  height: 120px;
  width: 120px;
  /* border: 2px solid black; */
}

img {
  height: 100px;
  width: 100px;
}

/* Score Board */

.score-board {
  gap: 20rem;
  font-size: 30px;
}

.msg-container {
  /* border: 2px solid black; */
  top: 75%;
  font-size: 1.5rem;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
