h1 {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    /* border: 2px solid black; */
}

.container {
    /* border: 2px solid black; */
    left: 5%;
    top: 20%;
    height: 60vh;
    width: 90vw;
}


.range {
    /* border: 2px solid black; */
    font-size: 1rem;
}

.guess-input {
    width: 65vw;
    left: 18%;
    top: 32%;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.buttons {
    gap: 1rem;
    top: 40%;
    /* border: 2px solid black; */
}

.submit-guess {
    padding: 0.5rem;
    font-size: 0.5rem;
}

.reset-btn {
    padding: 0.5rem;
    font-size: 0.5rem;
}

.feedback {
    /* border: 2px solid black; */
    top: 55%;
    gap: 1rem;
    width: 85%;
    font-size: 1rem;
    text-align: center;
}

.mode {
    top: 90%;
    right: 6%;
    padding: 0.5rem;
    font-size: 0.5rem;
}

.back {
    padding: 0.5rem;
    font-size: 0.5rem;
    top: 90%;
    left: 6%;
    /* border: 2px solid black; */
}