/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: poppins;
}

.body {
    background: radial-gradient(circle, #98c1d9, #25171a);
}

h1 {
    color: #25171a;
    margin-top: 4rem;
    font-size: 4rem;
    text-shadow: 0 0 1rem rgb(0,0,0);
    text-align: center;
    height: 4rem;
    line-height: 4rem;
}

.container {
    /* border: 2px solid black; */
    position: fixed;
    left: 20%;
    top: 25%;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #4b244a, #6969b3);
    box-shadow: 0 0 1rem rgb(0,0,0);
    border-radius: 2rem;
    margin-top: 2rem;
}

.range {
    /* border: 2px solid black; */
    text-align: center;
    font-size: 1.5rem;
    color: #25171a;
    margin-top: 1rem;
    text-shadow: 0 0 1rem rgb(0,0,0);
    font-weight: 600;
}

.guess-input {
    width: 30vw;
    position: fixed;
    left: 35%;
    top: 40%;
    padding: 0.5rem 4rem 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background: radial-gradient(circle, #6969b3, #4b244a);
    box-shadow: 0 0 1rem rgb(0,0,0);
    color: #f1f7ee;
    font-weight: 600;
    z-index: 5;
}

.buttons {
    display: flex;
    gap: 2rem;
    position: fixed;
    top: 50%;
    /* left: 38.5%; */
    /* border: 2px solid black; */
    width: 59.7vw;
    justify-content: center;
}

.submit-guess {
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    border: none;
    border-radius: 2rem;
    background: radial-gradient(circle, #6969b3, #4b244a);
    color: #25171a;
    font-weight: 600;
    z-index: 5;
}

.submit-guess:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.submit-guess:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.reset-btn {
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    border: none;
    border-radius: 2rem;
    background: radial-gradient(circle, #6969b3, #4b244a);
    color: #25171a;
    font-weight: 600;
    z-index: 5;
}

.reset-btn:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.reset-btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.feedback {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65%;
    gap: 2rem;
    width: 55%;
    font-size: 1.5rem;
    color: #25171a;
    align-items: center;
    font-weight: 600;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Button designing */
.mode1 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: 4px solid black;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    background-color: #fff;
    display: flex;
    cursor: pointer;
}

.mode1 img {
    width: 25px;
    height: 25px;
}

.mode1:active {
    background-color: #000;
}

.mode1:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.mode2 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: 4px solid black;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    background-color: #000;
    cursor: pointer;
}

.mode2 img {
    width: 25px;
    height: 25px;
}

.mode2:active {
    background-color: #fff;
}

.mode2:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.toggle {
    display: none;
}

.back {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    position: fixed;
    left: 5%;
    bottom: 10%;
    background: radial-gradient(circle, #6969b3, #4b244a);
    font-weight: 700;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    /* border: 2px solid black; */
}

.back img {
    width: 30px;
    height: 30px;
}

.back:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.back:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out
}

a {
    color: #f1f7ee;
    text-decoration: none;
}


.win {
    color: green;
}

.lose {
    color: red;
}

.dark-body {
    background: radial-gradient(circle, #000, #707070);
}

.dark-layout {
    color: #19647e;
}

.dark-layout-2 {
    background: radial-gradient(circle, #00bfff, #bcc3ca);
}

.dark-container {
    background: radial-gradient(circle, #bcc3ca, #00bfff);
}

.dark-text {
    color: #19647e;
}