.heading {
  font-size: 4rem;
  text-align: center;
}

/* Toggle Mode */

label {
  /* border: 2px solid black; */
  top: 90%;
}

/* Main Game */

.info {
  /* border: 2px solid black; */
  gap: 10rem;
}

.game-container {
  /* border: 2px solid black; */
  width: 60%;
}

.card {
  width: 90px;
  height: 90px;
  perspective: 1000px;
}