.heading {
  margin: 10px;
  margin-top: 20px;
  font-size: 2rem;
}

/* Toggle Mode */

label {
  /* border: 2px solid black; */
  top: 90%;
  right: 10%;
}

/* Main Game */

.info {
  font-size: 15px;
  gap: 2rem;
}

.game-container {
  /* border: 2px solid black; */
  width: 100%;
}

.card {
  width: 65px;
  height: 65px;
  perspective: 1000px;
}

.back {
  font-size: 20px;
}

.winning-msg {
    /* border: 2px solid black; */
  padding: 30px;
  font-size: 15px;
  gap: 2rem;
}

.reset-btn {
  font-size: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #000, inset 0 0 10px #000;
  transition: 0.5s;
}

.back-btn {
  font-size: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #000, inset 0 0 10px #000;
  position: fixed;
  bottom: 5%;
  left: 5%;
  transition: 0.5s;
}
