.heading {
  font-size: 4rem;
}

/* Main Game */

.main-game {
  /* border: 2px solid black; */
  height: 80%;
}

.category-selection {
  /* border: 2px solid black; */
  gap: 6rem;
}

.category-btn {
  font-size: 30px;
  padding: 20px;
}

.reset-btn {
  left: 15%;
}

.keyboard {
  /* border: 2px solid black; */
  width: 45vw;
  height: 45vh;
  top: 30%;
  left: 3%;
}

.key {
  padding: 8px;
  font-size: 18px;
}

.consequence-box {
  /* border: 2px solid black; */
  height: 30vh;
  width: 30vw;
  top: 30%;
  right: 8%;
}

.guess-box {
  /* border: 2px solid black; */
  padding: 15px;
  top: 75%;
  font-size: 25px;
}

.end-msg {
  font-size: 30px;
}
