.hidden {
    display: none !important;
}

/* Heading */
h1 {
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
}

.category-selection {
    /* border: 2px solid black; */
    gap: 3rem;
    margin-top: 0.5rem;
    height: 20vh;
    flex-direction: column;
    /* flex-wrap: wrap; */
    position: fixed;
    top: 30%;
}

.category-btn {
    padding: 0.8rem;
    font-size: 0.8rem;
    z-index: 10;
}

/* Button designing */
.mode {
    padding: 0.5rem;
    font-size: 0.5rem;
    top: 90%;
    right: 6%;
}

.reset-btn {
    padding: 0.5rem;
    font-size: 0.5rem;
    top: 90%;
}

.back {
    padding: 0.5rem;
    font-size: 0.5rem;
    top: 90%;
    /* border: 2px solid black; */
}

.game-container {
    display: flex;
    flex-direction: column;
}

.phone-keyboard {
    /* display: none; */
    /* border: 2px solid black; */
    width: 90vw;
    margin-top: 0.8rem;
    height: 25vh;
    position: fixed;
    top: 20%;
    left: 5%;
}

.key {
    padding: 0.5rem;
    font-size: 0.5rem;
    /* border: 2px solid black; */
}

/* Guessed container */
.guessed-container {
    /* border: 2px solid black; */
    /* display: none; */
    padding: 0.5rem;
    font-size: 1rem;
    top: 50%;
    left: 27%;
    right: 27%;
}

/* Consequence box */
.consequence-box {
    /* display: none; */
    /* border: 10px solid #6a5d7b; */
    height: 20vh;
    width: 75vw;
    right: 13%;
    top: 55%;
    margin-top: 1.5rem;
    font-size: 2rem;
}

.end-message {
     /* border: 2px solid black; */
     height: 10vh;
     font-size: 0.5rem;
     line-height: 5vh;
     top: 35%;
}