.heading {
  font-size: 3rem;
}

/* Main Game */

.main-game {
  /* border: 2px solid black; */
  height: 80%;
}

.category-selection {
  /* border: 2px solid black; */
  gap: 4rem;
}

.category-btn {
  font-size: 20px;
  padding: 15px;
}

.reset-btn {
  left: 15%;
}

.keyboard {
  /* border: 2px solid black; */
  width: 40vw;
  height: 30vh;
  top: 30%;
  left: 3%;
}

.key {
  padding: 6px;
  font-size: 12px;
}

.consequence-box {
  /* border: 2px solid black; */
  height: 20vh;
  width: 30vw;
  top: 30%;
  right: 8%;
}

.guess-box {
  /* border: 2px solid black; */
  padding: 10px;
  top: 65%;
  font-size: 20px;
}

.end-msg {
  font-size: 25px;
}
