.main-container {
  gap: 4rem;
}

.game-container {
  /* border: 2px solid black; */
  height: 60%;
  width: 350px;
}

.box {
  width: 80px;
  height: 80px;
  font-size: 50px;
}

.player-1,
.player-2 {
  font-size: 30px;
}

.reset-btn {
  left: 40%;
}

.msg-container {
  left: 15%;
}

.draw-msg {
  left: 13%;
}

/* javaScript Classes */

.draw-reset-btn {
  position: fixed;
  top: 60%;
  left: 40%;
}