/* Buttons deigning */

/* Back button */
.back {
    right: 22rem;
}

/* Players */
.player-one {
    left: 5%;
}
.player-two {
    right: 5%;
}

h1 {
    height: 7rem;
    line-height: 7rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    /* border: 2px solid black; */
}
