/* Buttons deigning */

/* Back button */
.back {
    right: 22rem;
}

/* Players */
.player-one {
    left: 5%;
}
.player-two {
    right: 5%;
}

h1 {
    height: 7rem;
    line-height: 7rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    /* border: 2px solid black; */
}

.msg {
    color: #25171a;
    font-size: 9vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.5rem;
    /* border: 2px solid black; */
}

.hide {
    display: none;
}