.main-container {
  gap: 8rem;
}

.game-container {
  height: 80%;
  width: 500px;
}

.box {
  width: 120px;
  height: 120px;
}

.msg-container {
  left: 25%;
}

.draw-msg {
  left: 28%;
}

/* javaScript Classes */

.draw-reset-btn {
  position: fixed;
  top: 60%;
  left: 45%;
}
