/* Back button */
.back-container {
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
}
.back {
    padding: 0.3rem;
    bottom: 3rem;
    right: 80%;
    position: fixed;
    bottom: 5.3rem;
}

.back img {
    width: 15px;
}

/* Mode button */
.mode1 {
    right: 2%;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    cursor: pointer;
}

.mode1 img {
    width: 15px;
}

.mode2 {
    padding: 0.2rem;
    border: 2px solid black;
}

.mode2 img {
    width: 15px;
}

.change-game {
    padding: 0.8rem;
    font-size: 0.5rem;
    position: fixed;
    top: 62.5%;
}

/* Reset Button */
.reset-btn {
    padding: 0.8rem;
    font-size: 0.5rem;
}

/* New button */
.new-btn {
    position: fixed;
    padding: 0.8rem;
    font-size: 0.5rem;
    top: 62.5%;
    left: 60%;
}


/* Heading */
h1 {
    font-size: 2rem;
    margin-top: 2rem;
}

/* Winner message */
.msg {
    font-size: 6vmin;
    position: fixed;
    top: 40%;
    left: 10%;
}

.msg-container {
    gap: 2.5rem;
}

/* Draw message */
.draw-msg {
    font-size: 6vmin;
    position: fixed;
    top: 40%;
}

/* Players */
.player-one, .player-two {
    font-size: 0.8rem;
}

.player-one {
    left: 0%;
}
.player-two {
    right: 0%;
}

.reset-btn-2 {
    position: fixed;
    bottom: 30.5%;
    left: 60%;
}

.change-game-2{
    position: fixed;
    top: 1%;
    right: 40%;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem;
    /* border: 2px solid black; */
}

.hide {
    display: none;
}