/* Universal selector to set everything to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    text-align: center;
    font-family: poppins;
}


/* Buttons deigning */

/* Back button */
.back {
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    position: relative;
    bottom: 9rem;
    right: 27rem;
    font-weight: 700;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    /* border: 2px solid black; */
}

.back img {
    width: 30px;
}


.back:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}


/* Reset Button */
.reset-btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    z-index: 1;
    position: relative;
    bottom: 5rem;
    left: 0rem;
    /* border: 2px solid black; */
}


.reset-btn:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

/* New button */
.new-btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    position: relative;
    top: 4rem;
    left: 0rem;
}

.new-btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out
}

/* Heading */
h1 {
    font-size: 4rem;
    margin-top: 4rem;
    text-shadow: 0 0 1rem rgb(0,0,0);
    /* border: 2px solid black; */
    height: 4rem;
    line-height: 4rem;
}

/* Main game */
.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 18rem;
    /* border: 2px solid black; */
}

.game {
    height: 40vmin;
    width: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    position: relative;
    bottom: 10%;
    /* border: 2px solid black; */
}

.box{
    height: 10vmin;
    width: 10vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0);
    font-size: 5vmin;
    border: 2px solid #98c1d9;
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Winner message */
.msg {
    font-size: 10vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

/* Draw message */
.msg-container-draw {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.draw-msg {
    font-size: 10vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Players */
.player-one, .player-two {
    font-size: 2rem;
    font-weight: 700;
    /* border: 2px solid black; */
}

.player-one {
    position: relative;
    left: 10%;
    bottom: 10%;
}
.player-two {
    position: relative;
    right: 10%;
    bottom: 10%;
}

.turn {
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Classes applied through JavaScript */

/* Class to hide elements during certain time */
.hide {
    display: none;
}