.main-container {
  gap: 6rem;
}

.game-container {
  width: 400px;
}

.box {
  width: 100px;
  height: 100px;
  font-size: 60px;
}

.msg-container {
  left: 20%;
}

.draw-msg {
  left: 20%;
}

/* javaScript Classes */

.draw-reset-btn {
  position: fixed;
  top: 60%;
  left: 42%;
}
