/* Universal selector to set everything to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    text-align: center;
    font-family: poppins;
}

.body {
    background: radial-gradient(circle, #98c1d9, #25171a);
}

/* Buttons deigning */

/* Back button */
.back {
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    position: fixed;
    bottom: 9rem;
    right: 85%;
    background: radial-gradient(circle, #6969b3, #4b244a);
    font-weight: 700;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    /* border: 2px solid black; */
}

.back img {
    width: 30px;
}

.back:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.back:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

a {
    color: #aeecef;
    text-decoration: none;
}

/* Mode button */
.mode1 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: none;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgb(0,0,0);
    display: flex;
    cursor: pointer;
}

.mode1 img {
    width: 25px;
}

.mode1:active {
    background-color: #000;
}

.mode1:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.mode2 {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 0.4rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0,0,0);
    background-color: #000;
    display: flex;
    cursor: pointer;
}

.mode2 img {
    width: 25px;
}

.mode2:active {
    background-color: #fff;
}

.mode2:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out
}

.toggle {
    display: none;
}

/* Change game button */
.change-game-container {
    position: relative;
    /* border: 2px solid black; */
    bottom: 11rem;
    right: 8rem;
    display: inline-block;
}

.change-game {
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    background: radial-gradient(circle, #6969b3, #4b244a);
    font-weight: 700;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
}
.change-link {
    color: #25171a;
}

.change-game:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.change-game:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

/* Reset Button */
.reset-btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    background: radial-gradient(circle, #6969b3, #4b244a);
    color: #25171a;
    font-weight: 700;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    z-index: 1;
    position: relative;
    bottom: 5rem;
    left: 0rem;
    /* border: 2px solid black; */
}

.reset-btn:active {
    background: radial-gradient(circle, #4b244a, #6969b3);
}

.reset-btn:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out
}

/* New button */
.new-btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    background: radial-gradient(circle, #6969b3, #4b244a);
    color: #25171a;
    font-weight: 700;
    border-radius: 2rem;
    border: 2px solid #98c1d9;
    box-shadow: 0 0 1rem rgb(0,0,0);
    text-shadow: 0 0 1rem rgb(0,0,0);
    position: fixed;
    top: 4rem;
    left: 8rem;
}

.new-btn:active {
    background-color: #181f1c;
}

.new-btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out
}

/* Heading */
h1 {
    color: #25171a;
    font-size: 4rem;
    margin-top: 4rem;
    text-shadow: 0 0 1rem rgb(0,0,0);
    /* border: 2px solid black; */
    height: 4rem;
    line-height: 4rem;
}

/* Main game */
.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

.game {
    height: 40vmin;
    width: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    position: relative;
    bottom: 10%;
    /* border: 2px solid black; */
}

.box{
    height: 10vmin;
    width: 10vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0);
    font-size: 5vmin;
    color: #25171a;
    background: radial-gradient(circle, #6969b3, #4b244a);
    border: 2px solid #98c1d9;
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Winner message */
.msg {
    color: #25171a;
    font-size: 10vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

/* Draw message */
.msg-container-draw {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.draw-msg {
    color: #25171a;
    font-size: 10vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Players */
.player-one, .player-two {
    font-size: 2rem;
    font-weight: 700;
    /* border: 2px solid black; */
}

.player-one {
    position: relative;
    left: 10%;
    bottom: 10%;
}
.player-two {
    position: relative;
    right: 10%;
    bottom: 10%;
}

.turn {
    color: #6969b3;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

/* Classes applied through JavaScript */

/* Class to hide elements during certain time */
.hide {
    display: none;
}

/* Change game button */
.change-game-2{
    width: 80vw; 
}

/* Dark mode Reset button */
.reset-btn-2 {
    position: relative;
    bottom: 6.4rem;
    left: 8rem;
}

/* Dark mode body */
.body-dark {
    background: radial-gradient(circle, #000, #707070);
    
}

/* Dark mode layout */
.darkLayout {
    color: #19647e;
}

.darkLayout2 {
    background: radial-gradient(circle, #00bfff, #bcc3ca);
}

.darkBox {
    background: radial-gradient(circle, #00bfff, #bcc3ca);
}

.dark-turn {
    color:#eef0f2;
}