/* Back button */
.back {
    padding: 0.8rem;
    right: 18rem;
}

.msg {
    color: #25171a;
    font-size: 5vmin;
    text-shadow: 0 0 1rem rgb(0,0,0);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    /* border: 2px solid black; */
}


.back img {
    width: 25px;
}

/* Change game button */
.change-game {
    padding: 1.3rem;
    font-size: 1rem;
}

/* Reset Button */
.reset-btn {
    padding: 1.3rem;
    font-size: 1rem;
}

/* New button */
.new-btn {
    padding: 1.3rem;
    font-size: 1rem;
    top: 4.3rem;
    left: 8rem;
}

/* Heading */
h1 {
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    margin-top: 3rem;
    /* border: 2px solid black; */
}


/* Winner message */
.msg {
    font-size: 8vmin;
}

.draw-msg {
    font-size: 8vmin;
}

/* Players */
.player-one, .player-two {
    font-size: 1.5rem;
}

.player-one {
    left: 5%;
}
.player-two {
    right: 5%;
}

.reset-btn-2 {
    position: relative;
    bottom: 6.8rem;
    left: 8rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8rem;
    /* border: 2px solid black; */
}

.hide {
    display: none;
}