.main-container {
  gap: 2rem;
}

.game-container {
  /* border: 2px solid black; */
  height: 50%;
  width: 250px;
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  font-size: 40px;
}

.heading {
  font-size: 3rem;
}

.player-1,
.player-2 {
  font-size: 20px;
}

.reset-btn {
  left: 40%;
}

.msg-container {
  left: 25%;
}


.msg {
  font-size: 20px;
}

.draw-msg {
  left: 25%;
  font-size: 20px;
}

/* javaScript Classes */

.draw-reset-btn {
  position: fixed;
  top: 60%;
  left: 40%;
}
